html,body
{
  height: 100%;
  margin: 0;
  background-color: whitesmoke;
}

#root,#wrapper{
  height: 100%;
  margin: 0;
}

/* .ui.container,.main,.field{
  height: 100%;
} */

  

.field{
  /* margin-top: 15%; */
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  /* background-color: #e0e0e0; */
  background-color: whitesmoke;

}

.App h1{
  color:black;
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.control-buttons{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.buttons{
  padding-bottom: 10px;
}

.buttons.left{
  padding-left: 20px;
}

.buttons.right{
  padding-right: 20px;
}

.titlebar{
  height: 50px;

  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

.bar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.bar .right{
  float: right;
  padding: 5px;
}

input{
  /* font-size: 20px; */
  text-align: center !important;
}

#qrcode{
  float: left;
  margin: 5px;
}

#qrcode-big{
  text-align: center;
  margin: 100px;
}

.userarea{
  position: fixed;
  bottom: 80px;
  width: 100%;
  z-index: 1;
}



